<!doctype html>
{% load static %}
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Personal Calculator App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
    <div id="container"></div>
    <div id="list"></div>
    <script src="{% static 'builds-development/main.js' %}"></script>
    <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
    <script src="{% url 'api-docs:schema-js' %}"></script>
    <script>
      var coreapi = window.coreapi;
      var schema = window.schema;
      var client = new coreapi.Client();
      var action = ["calculations", "list"];
      client.action(schema, action).then(function(result) {
        console.log(result);
        for (var i=0; i<result.length; i++) {
          var x = document.createElement("div");
          var t = document.createTextNode(result[i].calculations);
          x.appendChild(t);
          document.getElementById("list").appendChild(x);
        }
      })
    </script>
  </body>
</html>
