<!doctype html>
{% load static %}
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Personal Calculator App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
    <a href="{% url 'home' %}"><button type="button">View Calculator</button></a>
    <br /><br />
    <table class="table table-hover">
      <thead class="thead-dark">
          <th scope="col">#</th>
          <th scope="col">Calculations</th>
      </thead>
      <tbody id="logtable">
      </tbody>
    </table>
    <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
    <script src="{% url 'api-docs:schema-js' %}"></script>
    <script>
      var coreapi = window.coreapi;
      var schema = window.schema;
      var client = new coreapi.Client();
      action = ["calculations", "list"]
      client.action(schema, action).then(function(result) {
        for (var i=result.length-1; i>=0; i--) {
          var tr = document.createElement("tr");
          var th = document.createElement("th")
          var td = document.createElement("td");
          var id = document.createTextNode(result[i].id);
          var calculations = document.createTextNode(result[i].calculations);
          th.appendChild(id);
          td.appendChild(calculations);
          tr.appendChild(th);
          tr.appendChild(td);
          document.getElementById('logtable').appendChild(tr);
        }
      })
    </script>
  </body>
</html>
