* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background-color: burlywood;
}

#container {
  transform: scale(2.5);
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -70px;
  position: absolute;
}

#calc {
  display: none;
}

.table .thead-dark th {
  background-color: rgb(67, 7, 7);
  border-color: rgb(67, 7, 7);
}